.image-detail {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  animation: slideUp 0.2s ease;
}

.image-detail__image {
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  max-height: 80vh;
  border-radius: 3px;
}

.image-detail__description {
  margin-top: 20px;
  color: white;
  max-width: 1200px;
}

.image-detail__controls {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.control {
  background: #1A202C;
  border: none;
  color: #CBD5E0;
  font-size: 1.4rem;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 16px 24px;
  bottom: 8px;
}

.control.control--close {
  border-radius: 0;
}

.control.control--prev {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.control.control--next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.control:hover {
  background: black;
}

@media (min-width: 768px) {
  .control {
    padding: 20px 32px;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
