*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Roboto, Tahoma, Arial;
  background: #F0F0F0;
  padding: 0 40px;
  line-height: 1.5;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 80px;
}

.page__title {
  margin-top: 40px;
  margin-bottom: 24px;
}

.loader--big {
  width: 64px;
  height: 64px;
  margin: auto;
}

.button {
  display: inline-block;
  width: 140px;
  height: 52px;
  border: none;
  border-radius: 3px;
  background: #68D391;
  color: #22543D;
  font-weight: 700;
}

.page > .button {
  margin: 0 auto;
}

.button .loader {
  margin: 0 auto;
}

@media (min-width: 1360px) {
  body {
    padding: 0;
  }
}
