.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 52px;
  background: white;
  border-radius: 5000px;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.field > input {
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 0px 5000px 5000px 0px;
}

.field > input:focus {
  outline: none;
}

.field-container {
  height: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.field-container:hover .field-container__icon {
  transform: scale(1.2);
}

.field-container__icon {
  height: 18px;
  width: 18px;
  transition: all 0.1s ease;
}

.error {
  font-size: 0.778rem;
  width: 18%;
}
