.image-container {
  border-radius: 3px;
  animation: slideUp 0.2s ease;
  transition: all 0.2s ease;
}

.image-container:hover {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.45);
  transform: translateY(-4px);
  cursor: pointer;
}


@keyframes slideUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
